@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

.layout-choice {
  margin-bottom: 10px;
  color: #75726b;
}

.layout-choice .fas {
  margin-right: 10px;
  font-size: 30px;
  opacity: 0.5;
  cursor: pointer;
}

.layout-choice .selected {
  opacity: 1
}

body {
  /* background: #323239; */
  /* color: #fff; */
}
.editor {
  float:  left;
  border-radius: 4px;
}

.title {
  width: 100%;
  border-radius: 5px;
}

.title input {
  font-family: sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 5px;
  line-height: 20px;
  height: 30px;
  background: #f3eedf;
  border: 0;
  border-radius: 3px 3px 0px 0;
  color: #584e3a;
}

.title input:disabled {
  color: #b7b1a6
}

.input textarea:disabled {
  color: #999;
  background: #434349;
}

.input .CodeMirror {
  width: 100%;
  min-height: 400px;
  border-radius: 3px;
}

.readonly div.CodeMirror-cursors {
  visibility: visible;
}

.grid {
  display: grid;
  grid-gap: 10px;
}

.one-column {
  grid-template-columns: repeat(1, 1fr);
}

.two-column {
  grid-template-columns: repeat(2, 1fr);
}

.three-column {
  grid-template-columns: repeat(3, 1fr);
}

.one-column .input .CodeMirror {
  height: 600px;
}
