@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

.layout-choice {
    margin-bottom: 10px;
    color: #75726b;
}

.layout-choice .fas {
    margin-right: 10px;
    font-size: 30px;
}

body {
  /* background: #323239; */
  /* color: #fff; */
}
.editor {
  height: 400px;
  width: 500px;
  float:  left;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.title {
  width: 100%;
  border-radius: 5px;
}

.title input {
  font-family: sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 5px;
  line-height: 20px;
  height: 30px;
  background: #f3eedf;
  border: 0;
  border-radius: 3px 3px 0px 0;
  color: #584e3a;
}

.title input:disabled {
  color: #b7b1a6
}

.input textarea:disabled {
  color: #999;
  background: #434349;
}

.input .CodeMirror {
  width: 100%;
  height: 370px;
  border-radius: 3px;
}

.readonly div.CodeMirror-cursors {
  visibility: visible;
}
