@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

.layout-choice {
  margin-bottom: 10px;
  color: #1d80d4
}

.layout-choice .fas {
  margin-right: 10px;
  font-size: 30px;
  opacity: 0.5;
  cursor: pointer;
}

.layout-choice .selected {
  opacity: 1
}

body {
  /* background: #4a4e4d; */
  /* color: #fff; */
}
.editor {
  float:  left;
  border-radius: 4px;
}

.title {
  width: 100%;
  border-radius: 5px;
}

.title input {
  font-family: sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 5px;
  line-height: 20px;
  height: 30px;
  font-size: 13px;
  background: #1d80d4;
  border: 0;
  border-radius: 3px 3px 0px 0;
  color: #fff;
}

.editor.theirs .title {
  background: #7dd488;
  font-family: sans-serif;
  font-weight: bold;
  width: auto;
  padding: 5px;
  line-height: 20px;
  font-size: 13px;
  border: 0;
  border-radius: 3px 3px 0px 0;
  color: #fff;
}

.editor.theirs.waiting .title {
  background: #666;
}

.title input:disabled {
  color: #abd9ff
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.input .CodeMirror {
  min-height: 400px;
  border-radius: 0 0 3px 3px;
}

div.CodeMirror-cursors {
  visibility: visible;
}

div.CodeMirror pre.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(0, 200, 0, .4);
}

.grid {
  display: grid;
  grid-gap: 10px;
}

.one-column {
  grid-template-columns: repeat(1, 1fr);
}

.two-column {
  grid-template-columns: repeat(2, 1fr);
}

.three-column {
  grid-template-columns: repeat(3, 1fr);
}

.one-column .input .CodeMirror {
  height: 600px;
}

.editable .CodeMirror {
  border: 3px solid #1d80d4;
}

.readonly .CodeMirror {
  border: 3px solid #7dd488;
}

.waiting .CodeMirror {
  border: 3px solid #666;
}

.lds-ripple {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #3da4ab;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.Codemirror-code {
  color: #777;
}
.cm-keyword {
  color: #1c9e92;
  font-weight: 700;
}
.cm-variable {
  color: #1d80d4;
}
.cm-variable-2 {
  color: #1d80d4;
}
.cm-qualifier {
  color: #1d80d4;
}
.cm-builtin {
  color: #1d80d4;
}
.cm-string {
  color: #19902d;
}
.cm-comment {
  color: #444;
}
.cm-number {
  color: #7a00ff;
}
